html, body, .container {
  height: 100%;
}

body {
  background-color: #f3f3f3;
}

a {
  font-family: 'Muli', sans-serif;
  color: #767777;
}

a:hover {
  color: #eb8c00;
  text-decoration: none;
}

.nav-bar h4 {
  display: inline;
  margin-top: 20px;
  padding: 20px;
}

.landing-page h1 {
  font-family: 'Muli', sans-serif;
  font-size: 4em;
  color: #767777;
  text-align: center;
}

.nav-page h2 {
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin-right: 195px;
  font-size: 40px;
  padding: 10px;
  background-color: #eb8c00;
}

.nav-page a:hover {
  color: #f3f3f3;
}

.nav-page #back-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -80px;
  right: 60%;
  transform: translateX(50%);
  opacity: .5;
}

h1 span {
  color: #eb8c00;
}

.landing-page h2 {
  font-family: 'Muli', sans-serif;
  color: #767777;
  font-size: 2.5em;
  text-align: center;
}

p {
  font-family: 'Muli', sans-serif;
  color: #767777;
  font-size: 20px;
}

p span {
  font-family: 'Muli', sans-serif;
  color: #eb8c00;
  font-size: 40px;
}

.project-page h3 {
  font-family: 'Muli', sans-serif;
  color: #767777;
  font-size: 2.5em;
  float: right;
}

.project-page span {
  color: #eb8c00;
}

.project-page #back-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 200px;
  right: 50%;
  transform: translateX(50%);
  opacity: .5;
}

.about-page h1 {
  font-family: 'Muli', sans-serif;
  color: #767777;
  font-size: 2.5em;
  text-align: center;
  margin-right: 195px;
}

.about-page h2 {
  font-family: 'Muli', sans-serif;
  color: #eb8c00;
  font-size: 2.5em;
  text-align: center;
  margin-right: 195px;
}

.about-page img {
  opacity: .4;
}

#down-arrow {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 100px;
  right: 50%;
  transform: translateX(50%);
  opacity: .5;
}

#back-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 205px;
  right: 50%;
  transform: translateX(50%);
  opacity: .5;
}

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.projects-vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}*/

#portrait {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 50%
}

#project {
  display: block;
  height: 15.5em;
  width: 15.5em;
  margin: auto;
  border-radius: 50%
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #portrait {
    width: 100%;
  }
  .landing-page h1, .landing-page h2{
    text-align: left;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
